
@model CrudLibro.Models.LibroModel;
@{
    ViewData["Title"] = "ModificarLi";
    Layout = "~/Views/Shared/_layout.cshtml";

}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <div id="container">
        <h1>Gestión de Libros</h1>

        <h2>Añadir/Modificar Libro</h2>
        <form asp-Action="ModificarLi" asp-controller="LibrosCrud" id="book-form" method="post">
            <label for="title">Título:</label>
            <input asp-for="Nombre" type="text" id="title" placeholder="Título" required>
            <span asp-validation-for="Nombre" class="text-danger"></span>
            
            <label for="author">Autor:</label>
            <input asp-for="Autor" type="text" id="author" placeholder="Autor" required>
            <span asp-validation-for="Autor" class="text-danger"></span>
            
            <label for="Cantidad">Cantidad:</label>
            <input asp-for="Cantidad" type="number" id="title" placeholder="Cantidad" required>
            <span asp-validation-for="Cantidad" class="text-danger"></span>
            
            <label for="isbn">ISBN:</label>
            <input asp-for="ISBN" type="text" id="isbn" placeholder="ISBN" required>
            <span asp-validation-for="ISBN" class="text-danger"></span>
            
            <label for="fcompra">Fecha de compra:</label>
            <input asp-for="Fecha_de_Compra" type="date" id="fcompra" placeholder="Fecha de Compra" required>

            <label for="fadquisicion">fecha de adquisicion:</label>
            <input asp-for="Fecha_de_Adquisicion" type="date" id="fadquisicion" placeholder="Fecha de Adquisicion" required>
            
            <button type="submit" id="save-button">Guardar</button>
            <br>
            <a asp-action="ObtenerLi" asp-controller="LibrosCrud" id="cancel-button">Cancelar</a>
        </form>
    </div>

</body>


</html>