@model Libro.Models.LibroModel;
@{
    ViewData["Title"] = "Consultar";
    Layout = null;
}

<!DOCTYPE html>


<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="./css/stylecon.css" />
</head>
<body>
    <div id="container">
        <h1>Consulta de Libros</h1>

        <form asp-action="ObtenerLi" asp-controller="LibrosCrud" id="search-form">
            <label for="title">Buscar por Título:</label>
            <input type="text" id="title" placeholder="Título">
            <button type="button" id="search-button">Buscar</button>
        </form>

        <h2>Resultados de la Búsqueda</h2>
        <table id="book-table">
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Autor</th>
                    <th>Cantidad</th>
                    <th>ISBN</th>
                    <th>Fecha Compra</th>
                    <th>Fecha Adquirido</th>
                </tr>
            </thead>
            <tbody>
                <!-- Los resultados de la búsqueda se agregarán dinámicamente aquí -->
            </tbody>
        </table>
        <br>
        <div id="botones">
            <input asp-action="AnadirLi"type="button" id="crud" value="Agregar" />
            <br>
            <input type="button" id="crud" value="Modificar" />
            <br>
            <input type="button" id="crud" value="Eliminar" />
            <br>
        </div>
    </div>
</body>
</html>