@model CRUDusuario.Models.UsuarioModel;
@{
    ViewData["Title"] = "Añadir";
    Layout = "~/Views/Shared/_layout.cshtml";


    <div class="container my-3" id="D">
        <div class="row" id="D">
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 py-4"></div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 py-4 bg-white">
                <h2>Regristro</h2>
                <form asp-action="añadir" asp-controller="CrudUser" method="post">
                    <div class="mb-3">
                        <label for="user" class="form-label">Nombre </label>
                        <input asp-for="Nombre" type="text" name="Nombre" class="form-control" id="user" required placeholder="Ingrese Nombre">
                      </div>
                      <div class="mb-3">
                        <label for="user" class="form-label">Apellido </label>
                        <input asp-for="Apellido" type="text" name="Apellido" class="form-control" id="user" required placeholder="Ingrese Apellido">
                      </div>
                      <div class="mb-3">
                        <label for="user" class="form-label">Correo</label>
                        <input asp-for="Correo"  type="email" name="Correo" class="form-control" id="user" required placeholder="Ingrese Apellido">
                      </div>
                      <div class="mb-3">
                        <label for="password" class="form-label">Contrase&ntilde;a</label>
                        <input asp-for="Contraseña"  type="password" Name="Contraseña" class="form-control" id="password" required placeholder="Ingrese Contrase&ntilde;a"><br>
                      <div class="d-grid gap-2">
                        <div class="mb-3">
                            <label for="password" class="form-label">Fecha de Nacimiento</label>
                                <br>
                            <div class="d-grid gap-2">                     
                      <button type="submit" class="btn btn-success" formaction="./index.cshtml">Regristrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/index.js"></script>

}


